/*

Color Scheme:
    Blue: #12B3D8
    Orange: #FF860F
    Green: #B3F90E
    Light Gray: #F5F5F5

Fonts:
    Headings:
        font-family: 'Share Tech Mono', monospace;

*/

/* ====================================
        STARTERS
======================================= */

* {
  /* box-sizing: border-box; */
  margin: 10;
  padding: 10;
}

body {
  font-family: "Share Tech Mono", monospace;
  font-size: 16px;
  background-color: #313030;
  color: white;
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
}

/* ====================================
        TYPOGRAPHY
======================================= */

h1,
h2,
h3,
button {
  text-transform: uppercase;
}

h3 {
  color: #f47320;
  background-color: #212121;
  border-radius: 1rem;
}

h1 {
  color: #b3f90e;
  font-size: 2rem;
  text-align: center;
  border: 3px solid #b3f90e;
  border-radius: 8px;
  width: 20rem;
  padding: 0.5rem 0;
  margin: 1.5rem auto 2.5rem auto;
  display: block;
}

h2 {
  font-size: 1.5rem;
}

button {
  font-family: "Share Tech Mono", monospace;
  font-size: 0.7rem;
}

footer p {
  font-size: 1rem;
  margin: 4rem 0;
}

/* ====================================
        LAYOUT
======================================= */

.limit-content {
  width: 100%;
  /* padding: 0.5rem; */
  margin: 0 auto;
}

.score-display,
.button-start,
footer p {
  text-align: center;
}

.score-display,
.grid {
  margin: 0 auto;
}

#score {
  margin-left: 0.3rem;
}
/* ====================================
        GRID
======================================= */

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 20rem;
  height: 20rem;
  background-color: #212121;
  padding: 1px;
  border: dashed 4px gray;
}

.square {
  width: 2rem;
  height: 2rem;
}

/* ====================================
        CHARACTERS
======================================= */

.snake {
  background-color: #b3f90e;
  border-radius: 50%;
}

.apple {
  display: block;
  width: 2rem;
  height: 2rem;
  background: url(../img/apple.svg);
  background-size: 2rem 2rem;
}

/* ====================================
        BUTTON
======================================= */

button {
  border: none;
  background: none;
  color: white;
}

.button-action {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 19rem;
  margin: 0 auto;
  margin-top: 1rem;
  text-align: center;
}

.button-start {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  box-shadow: 0 0.5rem #ac2023;
  background-color: red;
}

.button-start:active,
.btn-up:active,
.btn-right:active,
.btn-down:active,
.btn-left:active {
  position: relative;
  top: 0.5rem;
  box-shadow: none;
}

button:focus {
  outline: none;
}

.button-move-parent {
  display: inline-block;
}

.button-move {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  width: 9rem;
}

.btn-up,
.btn-right,
.btn-down,
.btn-left {
  font-size: 1.2rem;
  border-radius: 0.5rem;
  width: 4rem;
  height: 3rem;
  color: #eecfbb;
  box-shadow: 0 0.5rem #da4c28;
  background-color: #f47320;
}

.btn-up,
.btn-down {
  margin: 1rem 2.25rem;
}

.btn-left {
  margin-right: 0.5rem;
}

#over {
  display: none;
}

.gameover {
  font-size: 0.5rem;
  display: block;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 35%;
  left: 44%;
  width: 3rem;
  animation: roll 4s infinite;
}

@keyframes roll {
  0% {
    transform: rotate(0) scale(0);
  }
  100% {
    transform: rotate(360deg) scale(5);
  }
}

/* ====================================
        FOOTER
======================================= */

.footer {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 1.8rem;
}

#flip {
  height: 30px;
  overflow: hidden;
}

#flip > div > div {
  color: #fff;
  padding: 4px 12px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 10s linear infinite;
}

#flip div div,
#flip div:first-child div,
#flip div:last-child div {
  color: gray;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

/* ====================================
        MEDIA QUERY
======================================= */

@media only screen and (min-width: 430px) {
}

@media only screen and (min-width: 1080px) {
  /* GRID */

  .grid {
    width: 20rem;
    height: 20rem;
  }

  .square {
    width: 2rem;
    height: 2rem;
  }

  /* BUTTON */
}
