/*

Color Scheme:
    Blue: #12B3D8
    Orange: #FF860F
    Green: #B3F90E
    Light Gray: #F5F5F5

Fonts:
    Headings:
        font-family: 'Share Tech Mono', monospace;

*/

/* ====================================
        STARTERS
======================================= */

* {
  /* box-sizing: border-box; */
  margin: 10;
  padding: 10;
}

body {
  font-family: "Share Tech Mono", monospace;
  font-size: 16px;
  background-color: #313030;
  color: white;
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
}

/* ====================================
        TYPOGRAPHY
======================================= */

h1,
h2,
button {
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
  color: #b3f90e;
  text-align: center;
  margin: 3rem auto;
  border: 3px solid #b3f90e;
  border-radius: 8px;
  width: 20rem;
}

h2 {
  font-size: 2rem;
}

button {
  font-family: "Share Tech Mono", monospace;
}

footer p {
  font-size: 1rem;
  margin: 4rem 0;
}

/* ====================================
        LAYOUT
======================================= */

.limit-content {
  width: 90%;
}

.score-display,
.button-start,
footer p {
  text-align: center;
}

.limit-content,
.score-display,
.grid,
.button-start,
.button-support {
  margin: 0 auto;
}

#score {
  margin-left: 0.3rem;
}
/* ====================================
        GRID
======================================= */

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 20rem;
  height: 20rem;
  background-color: #212121;
  padding: 2px;
  border: dashed 4px gray;
}

.square {
  width: 2rem;
  height: 2rem;
  background-color: #212121;
}

/* ====================================
        CHARACTERS
======================================= */

.snake {
  background-color: #b3f90e;
  border-radius: 50%;
}

.apple {
  display: block;
  /* text-indent: -9999px; */
  width: 2rem;
  height: 2rem;
  background: url(../img/apple.svg);
  background-size: 2rem 2rem;
}

/* ====================================
        BUTTON
======================================= */

button {
  margin-top: 3rem;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  border: none;
  box-shadow: 0 0.5rem #ac2023;
  background-color: red;
  color: white;
}

button:hover {
  position: relative;
  top: 0.5rem;
  box-shadow: none;
}

button:focus {
  outline: none;
}

.button-support {
  width: 7rem;
  height: 7rem;
  background: #633637;
  border-radius: 50%;
  position: absolute;
  z-index: -10;
  bottom: 6.2rem;
  left: 8.22rem;
  box-shadow: 0 0.3rem #361b1c;
}

/* ====================================
        FOOTER
======================================= */

.footer {
  font-size: 0.8rem;
  text-align: center;
  margin-top: 5rem;
}

#flip {
  height: 30px;
  overflow: hidden;
}

#flip > div > div {
  color: #fff;
  padding: 4px 12px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 10s linear infinite;
}

#flip div div,
#flip div:first-child div,
#flip div:last-child div {
  color: gray;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}

/* ====================================
        MEDIA QUERY
======================================= */

@media only screen and (min-width: 430px) {
}

@media only screen and (min-width: 1080px) {
  .button-support {
    bottom: 15.7rem;
    left: 50.4rem;
  }
}
